<script src="js/jquery-1.12.3.min.js"></script>
<script src="vendor/zurb/foundation/dist/foundation.min.js"></script>
<script src="vendor/zurb/foundation/js/foundation.equalizer.js"></script>

<script>
    $(document).foundation();
</script>
</body>
</html>