<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Team Info {% if title is defined %}- {{ title }} {% endif %}</title>
    <link rel="stylesheet" type="text/css" href="vendor/zurb/foundation/dist/foundation.min.css">

    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/users.css">
</head>

<body>